{% extends 'base.html' %} 
{% block title %} 
  Sticky Notes - 
  {% if form.instance.pk %} 
    Edit 
  {% else %} 
    Create 
  {% endif %} 
  StickyNote 
{% endblock %} 
{% block content %} 
  <h2> 
    {% if form.instance.pk %} 
      Edit 
    {% else %} 
      Create 
    {% endif %} 
    StickyNote
  </h2> 
  <form method="sticky" 
        action="{% if form.instance.pk %}{% url 'sticky_update' 
pk=form.instance.pk 1}{% else %}{% url 'sticky_create' %}{% endif %}"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <button type="submit"> 
      Save 
    </button> 
  </form> 
  <a href="{% url 'sticky_list' %}">Back to Sticky List</a> 
{% endblock %}  