body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
 
header { 
  background-color: lab(79.6% -76.17 69.01); 
  color: white; 
  padding: 10px; 
  text-align: center; 
} 
main { 
  margin: 25px; 
} 
 
ul { 
  list-style-type: none; 
  padding: 0; 
} 
 
li { 
  margin-bottom: 20px; 
} 
 
footer { 
  background-color: hsl(298, 86%, 58%); 
  color: white; 
  padding: 10px; 
  text-align: center; 
} 