body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
 
header { 
  background-color: lab(79.6% -76.17 69.01); 
  color: white; 
  padding: 10px; 
  text-align: center; 
} 
main { 
  margin: 25px; 
} 
 
ul { 
  list-style-type: none; 
  padding: 0; 
} 
 
li { 
  margin-bottom: 20px; 
} 

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
ul li{
  margin:1em;
}
 
footer { 
  background-color: hsl(298, 86%, 58%); 
  color: white; 
  padding: 10px; 
  text-align: center; 
} 